.sidebar{
    position:fixed;
    left:0px;
    bottom:0px;
    width:65px;
    top:50px;
    background-color: white;
    padding-top: 5px;
    z-index: 100;
}

.sidebar-link{
    
    height: 80px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.sidebar-link:hover{
    background-color: grey;
    cursor: pointer;
}
.sidebar-link img{
    height: 30px;
    margin-bottom: 4px;
   
    
}

.sidebar-link div{
    font-size: 10px;
  
    
}